:root {
    --bg-color: #292a2d;
    --header-color: #fff;
    --color: #fff;
    --link-color: #C1CCEA;
    --accent-color: #ffa000;
}
body {
    background-color: var(--bg-color);
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--color);
    margin: 0.5em auto;
}
h1,h2,h3 {
    font-weight: bold;
    font-style: italic;
    margin 2em 0;
}
h1 {
    color: var(--accent-color);
    font-size: 2rem;
}
h2 {
    color: var(--header-color);
    font-size: 1.5rem;
}
h3 {
    color: var(--header-color);
    font-size: 1.2rem;
}
img {
    width: 100%;
    display: block;
}
a {
    color: var(--link-color);
}
p {
    color: var(--color);
    line-height: 1.4rem;
}
hr {
    border-top: 1px solid var(--color);
    border-bottom: none;
    width: 100%;
    margin: 2em auto;
}
footer {
    background-color: var(--bg-color);
    position: fixed;
    bottom: 0;
    padding: 0.25em 0.5em;
    font-size: 0.7rem;
}
#container {
    width: 40em;
    display: block;
    margin: auto;
}
/* Scale elements on smaller screens to prevent side-scrolling */
@media only screen and (max-width: 42em) {
    #container {
        width: 96%;
    }
}
