:root {
    /* Light theme (default) */
    --bg-color: #fff;
    --header-color: #222;
    --color: #222;
    --link-color: #536390;
}
/* Use dark theme if browser requests it */
@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme */
        --bg-color: #292a2d;
        --header-color: #a9a9b3;
        --color: #a9a9b3;
        --link-color: #818cab;
    }
}
body {
    background-color: var(--bg-color);
    color: var(--color);
    font-size: 100%;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container {
    width: 40em;
    display: block;
    margin: auto;
    padding: 0 0 5em;
}
h1 {
    color: var(--header-color);
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
img {
    display: block;
    margin: auto;
    width: 100%;
}
p {
    font-size: 1.25rem;
    font-style: italic;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    background-color: var(--bg-color);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.25em 0.5em;
}
footer p {
    font-size: 0.7rem;
    font-style: normal;
}
footer a {
    font-size: 0.7rem;
}
@media only screen and (max-width: 40em) {
    #container {
        width: 96%;
    }
}
